:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    /* background-color: gray; */
    font-family: 'Orbitron', sans-serif;
    font-family: 'Saira', sans-serif;
    padding-top: 2rem;
}

#instructions-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

#instructions {
    text-align: left;
}

#instructions ol{
    margin-left: 1rem;
}

#instructions-tabbed {
    margin-left: 2rem;
}

.btnDash {
    padding: 10px auto;
}

.sizeDash, .speedDash {
    display: inline-block;
    text-align: left;
    margin: 5px 0px;
}

.sizeDash label, .speedDash label {
    display: block;
    text-align: left;
}

.app-container {
    min-width: 320px;
    max-width: 800px;
    /* background-color: rgb(223, 223, 213); */
    margin: auto;
    text-align: center;
    padding: 0px;
}

.dashboard {
    margin: auto;
    width: 50%;
}

button {
    box-shadow: none !important;
}

#sizeBtns > button{
    background-color: hsl(32, 100%, 49%);
    color: #fff;
}

#sizeBtns button:focus {
    background-color: hsl(22, 100%, 30%);
}

#speedBtns button:focus{
    background-color: rgb(146, 0, 0);
}

.search-algorithms {
    margin: 10px 0px 20px 0px;
}
/* 
.search-algorithms button {
    width: 100%;
} */

.opt-obstacles{
    margin: 0px auto;
    text-align: left;
    padding: 5px 20px;
}

#walls{
    width: 100%;
}

#rangeObstacles {
    width: 100%;
}

.search-algorithms button{
    margin: 5px;
}

.search-algorithms button:focus {
    transform: scale(1.1);
}

.labyrinth {
    height: 800px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .labyrinth {
        height: 400px;
    }
}

.labyrinth div {
    /* aspect-ratio: 1;  */ /*Does not always work on all phones.  Experimental*/
    margin: 0px;
    padding: 0px;
    border: 1px rgba(0, 0, 0, 0.120) solid;
    position: relative;
}

.labyrinth div p {
    color: rgba(129, 129, 129, 0.70);
    font-size: calc(40% + 0.5vw);
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6); */
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 450px) {
    .dashboard {
        width: 55%;
    }
    .labyrinth div p {
        font-size: calc(32% + 0.5vw);
    }
    .search-algorithms button {
        margin: 5px 0px;
        width: 100%;
    }

    #sizeBtns #speedBtns{
        width: 100%;
    }

    #instructions li, p {
        font-size: 14px;
    }
}

/* Notification */
.toast {
    position: fixed;
    
}